<section id="about" class="section">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>About</h2>
        <p>GENERATIVE AI and T<text style = "text-transform: lowercase">o</text>M IN COMMUNICATING AGENT
 @ IJCAI 2025</p>
      </div>


      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          
          <p> <a href="https://twitter.com/tom_ICML2024" class="twitter-follow-button" data-show-count="false">Follow @tom_ICML2024</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>

          <h3>Motivation</h3>
          <p>
            Theory of Mind (ToM) is the ability to reason about the minds of other agents. Although the recent advancements
in generative AI have shown ToM and reasoning skills, there are still limitations.
              The main theme of our workshop is the computational modeling of ToM, with a special focus on the role of natural language in such modeling. 
              Specifically, ToM 2025 will investigate computational modeling of ToM for communication, including challenges and opportunities in the era of LLM along
 three thrusts:
<div style="background-color:rgba(0, 0, 255, 0.1);">


<p><b>ToM for ML. </b>Measure and evaluate ToM in ML, benchmarking as human ToM are shaped by beliefs, social norms, interpretability and reasoning of how the ToM-enabled AI systems have come to a decision.</p>

<p><b>ToM for Cognitive Science (CogSci). </b>ML algorithm design inspired by cognitive science and ToM in humans.
</p>

<p><b>Social Impact and ToM. </b> Evaluate ToM-enabled AI model’s output to the relevance of the user, (e.g., age-appropriate robot interaction), safeguard to mitigate privacy and user risk, hallucination of LLMs.

</div>
              <!--pays attention to cognitive foundations and theories of ToM, 
              the acquisition and relationship between language and ToM, 
              leveraging ToM to improve and explain NLP and ML models, and 
              using ToM for positive social impact.-->
              This workshop intends to promote the community of researchers that are interested in improving the ability of intelligent agents to reason about others' mental states. Our proposed program provides a space to discuss pathways for understanding and applying ToM in psycholinguistics, pragmatics, human value alignment, social good, model explainability, and many other areas of NLP. ToM 2025 will be a full-day hybrid in-person/virtual workshop with several keynote speeches, and oral/poster/spotlight presentations, followed by a breakout discussion, panel discussion, and best paper award announcement. We also intend to host a mentoring program to broaden participation from a diverse set of researchers.
          </p>

        </div>
            <p>The ToM Workshop will be co-located with <b><a class="green-text" href="https://2025.ijcai.org/">IJCAI 2025</a></b>!</p>

            If you have any questions, feel free to <a href="mailto: tomICML2024@gmail.com">contact us</a>.
          <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
        </div>
      </div> 
    </div>
  </section><!-- End About Section -->
